<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Emily</h1>
        <p>Your next doula to help bring your newest joy into the world</p>
      </header>
      <p>This is where I introduce myself and a little of what a Doula is and does</p>
      <ul class="actions">
        <li><a href="{% link about.md %}" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="{{ site.url }}/assets/images/profile.jpg" alt="" />
    </span>
  </section>
