<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I'm Emily</h1>
      </header>
      <p>Hey Y'all! I'm so glad you've found me here! I hope you find this space informative as to what I do as a birth doula as well as a place you can come to have your questions answered about your impending labor and birth.</p>
      <p>I can't wait to chat with you!</p>
      <p>Emily</p>
      <ul class="actions">
        <li><a href="{% link about.md %}" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="{{ site.url }}/assets/images/profile.jpg" alt="" />
    </span>
  </section>
  